# Use o linker "hoisted" para fazer um node_modules achatado
node-linker=hoisted

# Garanta que o Prisma e seus engines sejam hoisted corretamente
public-hoist-pattern[]=prisma
public-hoist-pattern[]=@prisma/client
public-hoist-pattern[]=@prisma/engines
public-hoist-pattern[]=*prisma*

# Configurações adicionais para evitar problemas com PNPM
shamefully-hoist=true
strict-peer-dependencies=false
link-workspace-packages=false